<!DOCTYPE html>
<html>
<head>
  <title>B Store - Sign Up</title>
  <link rel="stylesheet" href="Signup_page.css">
</head>
<body>
  <div class="signup-container">
    <img src="/User Interface/Ex.image/noBgColor.png" alt="B Store Logo" class="logo">
    <div class="signup-box">
      <h2>Password recovery</h2>
      <form id="signupForm">
        <div class="input-group">
          <input type="text" id="username" name="username" placeholder="Your Username" required>
          <p>*Your username is incorrect or doesn't exist</p>
        </div>
        <button type="submit" class="signup-button" style="margin-top: 100px;">Sign Up</button>
      </form>
    </div>
  </div>
  <script src="Signup_page.js"></script>
</body>
</html>